PORT = 8000
CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=ads12  // Replace with your own secret key for access tokens
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=ads123@  // Replace with your own secret key for refresh tokens
REFRESH_TOKEN_EXPIRY=10d


MONGODB_URI=mongodb+srv://mohit_db_user:Mohit1234@cluster0.g2nrxjp.mongodb.net // Replace with your actual MongoDB connection string (USE YOUR OWN CREDENTIALS)
